.bash_history
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.bash_logout
go
gopath
node_modules
.ssh
.local
.cursor-server
.config
.cache
.bun
sensor-dashboard/build
sensor-dashboard/node_modules
sensor-dashboard/.svelte-kit
sensor-api/sensor-api
sensor-dashboard/dataToDB.php
sensor-dashboard/IAQtoDBsen55.php

.gitconfig

vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.bashrc
.face
.face.icon
.profile
.sudo_as_admin_successful
.lesshst
.lesshst.*
